$pink: #F67ACB;
$purple: #5B1FA6;

$grey-scale-01: #050110;
$grey-scale-02: #0F0C1B;
$grey-scale-03: #3F3D49;
$grey-scale-04: #57555F;
$grey-scale-05: #9995A6;
$grey-scale-06: #393c40;
$grey-scale-07: #1c162e;
$grey-scale-08: #acb4bf;

$white: #fff;
$opacity-01: rgba(150, 150, 166, .25);
$opacity-02: rgba(255, 255, 255, .5);
$opacity-03: rgba(15, 15, 20, .25);
$opacity-04: rgba(10, 10, 20, .25);
$opacity-05: rgba(245, 120, 205, .55);
$opacity-06: rgba(5, 1, 16, .1);
$opacity-07: rgba(15, 12, 27, 0);
$opacity-08: rgba(16, 12, 28, .06);
$opacity-09: rgba(28, 22, 46, .1);
$opacity-10: rgba(92, 32, 166, .15);
$opacity-11: rgba(255, 255, 255, .1);


$font-body: 'Atyp BL Text', sans-serif;
