@use './variables';

.btn{
  cursor: pointer;
  border: none;
  outline: 1px solid transparent;

  &-primary{
    background: variables.$primary-100;
    color: variables.$dark-900;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    padding-block: 1rem;
    width: 100%;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover, &:focus{
      background: variables.$light-100;
      color: variables.$dark-900;
      outline: 1px solid variables.$light-100;
    }
  }

  &-light{
    background: variables.$light-100;
    color: variables.$dark-900;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    padding-block: 1rem;
    width: 50%;
    max-width: 90%;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    display: block;
    white-space: nowrap;

    &:hover, &:focus{
      background: variables.$primary-100;
      color: variables.$dark-900;
      outline: 1px solid variables.$primary-100;
    }
  }
}
