// Colors
$light-100: #f7f7f7;

$grey-100: #bdc2cb;

$dark-900: #101010;
$dark-800: #090a0a;

$primary-100: #3265EA;


// Fonts
$font-body: 'Archivo', sans-serif;
$font-title: 'Cinzel', serif;
