$light: #FFFFFF;
$origamid: #84E;
$primary: #0C0C0C;
$lead: #2f2f2f;
$dark: #202020;
$ash: #666666;
$error: #aa1515;
$success: #30aa15;
$grey: #CCC;

$font-1: 'Poppins', sans-serif;
$font-2: 'Roboto', sans-serif;

