@use './variables';

h1, h2, h3{
  font-family: variables.$font-title;
  line-height: 150%;
}

h1, h2{
  letter-spacing: -0.01em;
  font-weight: 700;
}

h2, h3{
  color: variables.$grey-100;
}

h1{
  font-size: 6.4rem;
  color: variables.$white;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-weight: 600;
  font-size: 1.8rem;
}