$brand-colors-pink: #f67acb;
$grey-colors-50: #e6ebf2;
$grey-colors-100: #050110;
$grey-colors-200: #1c1d1f;
$grey-colors-300: #393c40;
$grey-colors-400: #5c6066;
$grey-colors-500: #5c6066;
$grey-colors-800: #f7f7f7;
$white-colors-text-2: rgba(255, 255, 255, .2);
$white-colors-text: rgba(255, 255, 255, .7);
$white-colors-text-27: rgba(255, 255, 255, .27);
$white: #fff;
$bg-05: rgba(30, 30, 30, .5);
